# Rác của Windows
desktop.ini
Thumbs.db

# Rác của các Editor/IDE
.vscode/
.idea/
*.swp

# Vivado simulation
*.wdb
*.jou
*.log
*.pb
*.str

# Simulation output
.sim/

# Xilinx cache
.cache/
.hw/
.ip_user_files/
.runs/
.Xil/