# Bỏ qua môi trường ảo
venv/
env/
.env

# Bỏ qua rác của Python
__pycache__/
*.pyc

# Bỏ qua các file checkpoint, log train của PyTorch
runs/
*.log

# CỰC KỲ QUAN TRỌNG: Bỏ qua trọng số (Weights) model quá nặng
*.pt
*.pth
*.onnx
*.txt
*.csv